@page "/AddAdult"
@attribute [Authorize(Policy = "MustBeVIA")]
@using Microsoft.AspNetCore.Components
@using Models
@inject FileContext FileContext
@inject NavigationManager NavigationManager
<h3>Add Adult</h3>


<EditForm Model="@addNewAdultItem" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">First name: <br/>
        <InputText @bind-Value="addNewAdultItem.FirstName"/>
    </div>
    <div class="form-group">Last name: <br/>
        <InputText @bind-Value="addNewAdultItem.LastName"/>
    </div>
    <div class="form-group">Hair color: <br/>
        <InputText @bind-Value="addNewAdultItem.HairColor"/>
    </div>
    <div class="form-group">Eye color: <br/>
        <InputText @bind-Value="addNewAdultItem.EyeColor"/>
    </div>
    <div class="form-group">Age: <br/>
        <InputNumber @bind-Value="addNewAdultItem.Age"/>
    </div>
    <div class="form-group">Weight: <br/>
        <InputNumber @bind-Value="addNewAdultItem.Weight"/>
    </div>
    <div class="form-group">Height: <br/>
        <InputNumber @bind-Value="addNewAdultItem.Height"/>
    </div>
    <div class="form-group">Sex: <br/>
        <InputText @bind-Value="addNewAdultItem.Sex"/>
    </div>
    <div class="form-group">Job title: <br/>
        <InputText @bind-Value="addNewAdultItem.JobTitle.JobTitle"/>
    </div>
    <p class="actions"><button class="btn btn-outline-dark" type="submit">Create</button></p>
</EditForm>


@code {
    public void AddNewAdult()
    {
        IList<Adult> adults = FileContext.Adults;
        addNewAdultItem.Id = adults.Count;
        adults.Add(addNewAdultItem);
        FileContext.SaveChanges();
        NavigationManager.NavigateTo("/Adults");
    }

    private Adult addNewAdultItem = new Adult
    {
        JobTitle = new Job()
    };
}